@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.container{
    min-height: 100vh;
    background-color: #06162b;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.header, .footer{
    font-family: "Black Ops One", "Courier New", Courier, monospace;
    color: papayawhip;
    text-align: center;
    padding: 32px 8px;
}

.header > h1{
    font-size: clamp(24px, 3vh, 48px);
}

.game-container, .game-log{
    display: flex;
    flex-direction: column;
    background-color: #04101f;
    border-radius: 16px;
    box-shadow: 5px 5px papayawhip;
    border: 1px solid papayawhip;
    font-weight: bold;
    
    
}

.game-container{
    flex-wrap: wrap;
    flex-grow: 3;
    max-width: 1000px;
    padding: 8px;
    position: relative;
}

.game-log{
    flex: 1 1 200px;
    color: papayawhip;
    padding: 8px 24px;
    max-height: 500px;
    gap: 16px;
    overflow: auto;
}

.disable-content{
    pointer-events: none;
    opacity: 0.5;          
    cursor: not-allowed;
}

.gameres{
    display: flex;
    flex-direction: column-reverse;
    line-height: 1.5;
    gap: 16px;
}
.game-log h2{
    color: papayawhip;
    font-family: "Black Ops One", "Courier New", Courier, monospace;
    text-align: center;
    margin-top: 24px;
}

.outer-container{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    flex: 1;
    width: min(100%, 1400px);
    margin: 0 auto;
}

.players-container{
    display: flex;
}

.player, .versus, .computer{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding-top: 16px;
}

.player{
    color: papayawhip;
    align-items: flex-end;
}
.sprite{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: center;
}


.icon-photo{
    background-color: #fff;
     width: 50px;
    height: 50px;
    border-radius: 50%;
}

.versus{
    font-family: "Black Ops One";
    align-items: center;
    color:yellow;
    font-size: 24px;
}

.computer{
    color: papayawhip;
    align-items: flex-start;
}

.game-panel{
    flex: 1;
    display: flex;
}

.player-panel, .cpu-panel{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    position: relative;
}

.score-container{
    background-color: white;
    padding: 1rem;
    font-size: 42px;
    position: absolute;
    border-radius: 16px;
}

.playerscore{
    bottom: 24px;
    right: 32px;
}

.cpuscore{
    bottom: 24px;
    left: 32px;
}

.player-panel img{
    transform: rotate(90deg); 
}

.cpu-panel img{
    transform: rotate(-90deg);
}

.buttons{
    padding: 32px;
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

.buttons button, 
.winner-splash-screen button{
    padding: .5rem 2rem;
    border-radius: 20px;
    box-shadow: 3px 3px yellow;
    border: none;
    font: inherit;
    cursor: pointer;
}

.winner-splash-screen{
    position: absolute;
    inset: 0;
    margin: auto;
    width: 300px;
    background-color: #06162b;
    height: 200px;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
}

.winner-splash-screen h2{
    font-size: 36px;
    font-family: "Black Ops One", "Courier New", Courier, monospace;
    color: papayawhip;
}